# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Environments
.env
venv/
ENV/
env.bak/
venv.bak/

# Django migrations
*/migrations/*

# Static files
staticfiles/

# Local settings
local_settings.py

# VS Code
.vscode/