{% extends 'cellula_app/base.html' %}

{% block content %}
<h1 class="mb-4">Welcome to Booking Project</h1>

<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="text-center">
        {% if user.is_authenticated %}
            <!-- Show Dashboard Button for Logged-In Users -->
            <a href="{% url 'admin_dashboard' %}" class="btn btn-warning btn-lg m-3 px-5 py-3">Dashboard</a>
        {% else %}
            <!-- Show Login and Register for Non-Logged-In Users -->
            <a href="{% url 'login' %}" class="btn btn-success btn-lg m-3 px-5 py-3">Login</a>
            <a href="{% url 'register' %}" class="btn btn-primary btn-lg m-3 px-5 py-3">Register</a>
        {% endif %}
    </div>
</div>
{% endblock %}
